.footer_icon_twitter:hover{

    color:#1DA1F2;

}

.footer_icon_facebook:hover{

    color:#4267B2;

}

.footer_icon_youtube:hover{


    color:#c4302b;

}

.footer_icon_telegram:hover{


    color:#0088cc;

}